
/* Elements ------------------------------------------------ */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #484848;
}

a {
  text-decoration: none;
  color: deepskyblue;
}

/* Classes ------------------------------------------------- */

.ui-widget-content a {
  color: deepskyblue;
}

.content {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  text-align: center;
}

.content h2 {
  margin-top: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #efefef;
  text-align: center;
}

/* IDs ----------------------------------------------------- */

#accordion {
  text-align: initial;
  margin-bottom: 100px;
}

#loading {
  color: deepskyblue;
}
